* {
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #afafaf;
}

header h1 {
    font-size: 4em;
    font-weight: 600;
}

.header h2 {
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: 500;
    background-color: #c0c2ce;
    padding: 10px;
    border: 5px solid #afafaf;
    border-radius: 10px;
}

body {
    background-color: #eee !important;
}

.date {
    text-align: center;
    color: #777;
    margin-top: 50px;
}

.date h4 {
    font-size: 2em;
}

.date input {
    text-align: center;
    width: 170px;
    border-style: none;
}

.main {
    text-align: center;
    color: #777;
    margin-top: 20px;
}

#dropdown {
    text-align: center;
    width: 170px;
    border-style: none;
}

.main h4 {
    font-size: 2em;
}

.btn {
    margin-top: 40px;
}
